@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin multi-ellipsis($font-size, $line-height, $lines) {
    font-size: $font-size;
    line-height: $line-height;
    max-height: $line-height * $lines;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical; /* autoprefixer: off */
}


@mixin positionCenter {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@mixin positionTop {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
